@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT328&display=swap');

body {
  margin: 0;
  padding: 0;
  font-size: 24rem;
  /* Google Font */
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  text-align: inherit;
  text-align-last: auto;
  text-decoration: none;
  text-decoration-color: inherit;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

button {
  margin: 0;
  padding: 0;
  outline: none;
}

/* start comment css variables and components UI */
.dark {
  background-color: rgb(16, 28, 45);
}
.loading {
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  text-align: center;
  background-color: rgba(50, 50, 50, 0.1);
}

/* end comment css variables */

/* start Home page */
.headerFrame {
  color: #fff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header {
  width: 100%;
  line-height: 60rem;
}

.headerLeft {
  font-size: 25rem;
  float: left;
  margin-left: 15rem;
}

.headerRight {
  margin-right: 15rem;
  float: right;
  font-size: 25rem;
}

.headerRight button {
  padding: 15rem;
  border-radius: 15rem;
  color: #000;
  font-size: 24rem;
}

.displayWindow {
  position: fixed;
  top: 60rem;
  left: 0;
  bottom: 160rem;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footerNavMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
  color: #fff;
  text-align: center;
  font-size: 35rem;
}

.footerCopyright {
  display: flex;
  justify-content: space-evenly;
  border-top: 1rem soli #101c2d;
  color: #fff;
}

/* end Home page */

/* Start Login page */
#login {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.login_announcement {
  margin: 25rem auto;
  background-color: #bfc;
  text-align: center;
  font-size: 50rem;
}

.login_box {
  margin: 0 auto;
  padding: 50rem;
  border: 1px solid #ddd;
  box-shadow: 12px 12px 6px 1px rgba(255, 0, 119, 0.109);
}
/* End Login page */

/* Start Profile page */
.profileFrame {
  padding: 50rem;
}
/* End Profile page */

/* Start Checkout page*/
.checkout-buttonsFrame {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checkout-button {
  margin: 50rem 50rem;
}
/* End Checkout page*/

/* admin page */
.adminWindow {
  position: absolute;
  top: 65rem;
    overflow-x: hidden;
  overflow-y: scroll;
}

/* end admin page */
