@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT328&display=swap');

body {
  margin: 0;
  padding: 0;
  font-size: 16rem;
  /* Google Font */
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  text-align: inherit;
  text-align-last: auto;
  text-decoration: none;
  text-decoration-color: inherit;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
}

button {
  margin: 0;
  padding: 0;
  outline: none;
}

/* start comment css variables and components UI */
.dark{
  background-color: rgb(16, 28, 45);
}
.spinFrame {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: rgba(80, 78, 78, 0.2);
}


/* end comment css variables */

/* start Home page */
.headerFrame {
  color: #fff;
  font-size: 10rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  line-height: 40rem;
}
.header p {
  margin-left: 10rem;
  font-size: 14rem;
}

.headerLeft {
  float: left;
  margin-left: 15rem;
}

.headerRight{
  margin-right: 15rem;
  float: right;
}

.displayWindow{
  height: calc(100vh - 64rem);
  color: #000;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #101c2d;
  color: #fff;
}
/* end Home page */

/* Start Login page */
#login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.login_title{
  width:70%;
}

.login_box {
  margin:0 45rem 0 45rem;
  padding: 50rem;
  border: 1px solid #ddd;
  box-shadow:12px 12px 6px 1px rgba(255, 0, 119, 0.109);;
}
/* End Login page */
